*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
body
    {
        background-image: url(..//img/lali.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
            
      }


h3{
    color:white;
    font-size: 70px;
    padding:1px;  
    font-family: nunito, sans-serif;
    font-style: normal;
    font-weight: 900;
    padding-left:15px;
   }
 h4{
     font-family: font-family: arbotek, sans-serif;
     font-style: normal;
     font-weight: 100;
     font-size:40px;
     color: white;
     padding-bottom:5px;
     margin-left:20%;
     
     

 }  

.parrafo{
    background-color:#df272aa4 ;
    margin: 30px;
    width: 30%;
   
    
}
.oracion{
    color: white;
    font-family: arbotek, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 30px; 
    position: relative;
    left: 9%;
    width: 30%;
    
   
    
    
}

.texto{
    font-family: arbotek, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    color: white;
    width: 40%;
    text-align:center;
    position: relative;
    right:3%;
   
}


.formulario {
    padding: 10px; 
    margin: 10px 0; 
    width: 25%; 
    float: right;
    position: absolute;
    right:5%;
    top:25%;

}
     

      h1{padding: 2px;color: rgb(255, 255, 255); text-align: center; }
      form {
           width:100%; 
           margin: auto; 
           border: 9px solid rgb(255, 255, 255); padding:10px;
           box-sizing: border-box
    }
      form label{
          width: 60%; 
          height: 100%; 
          display: inline-block;
          font-weight:bold;
          color: rgb(248, 248, 248); 
          padding: 10px;
          font-family: arbotek, sans-serif;
        }
      form input{ 
        padding: 6px; 
        border:2px inherit #77787584; 
        width: 100%;
    }

.boton{
    background-color: #df272aa4;
    border: none;
    padding: 4%;
    width: 50%;
    color: white;
    font-family:arbotek, sans-serif;
    font-size: 20px;
    position: relative;
    left: 25%;
}
.boton:hover{
    background-color: #df272a67;
    cursor: pointer;
}

.logo img{
   width: 8%;
   position: absolute;
   bottom: 0%;
   padding: 2%;
}

.info{
    background-color:#df272aa4 ;
    color: white;
    text-align: center;
    font-size: 30px;
    position: absolute;
    top: 14%;
    left: 65%;
    padding: 1%;
}





      

